<div id="<%= dom_id guild %>">
  <p>
    <strong>Name:</strong>
    <%= guild.name %>
  </p>

  <p>
    <strong>Motto:</strong>
    <%= guild.motto %>
  </p>

  <p>
    <strong>Founded on:</strong>
    <%= guild.founded_on %>
  </p>

</div>
